<form action="/photo" method="post"
enctype="multipart/form-data">
<input type="text" name="description">
  <input type="hidden" name="album_id" value="1">
  <input type="file" name="photo">
<input type="submit">
</form>